﻿html {
	padding: 0;
	margin: 0;
	font-family: 'Arial';
}

body {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

div#content {
	display: inline-block;
	text-align: left;
}

div#menu {
	margin: 0;
	padding: 10;
	display: inline-table;
}

div#menu h4 {
	/*background: #FF00FF;*/
	margin-bottom: 0;
}

div#task {
	margin: 0;
	padding: 0;
	display: inline-table;
}

div#answer1, div#answer1, div#answer1{
	width: 500px;
}

div#menu li {
	cursor: pointer;
}

div#menu h4 {
	cursor: default;
}

table
{
	border-collapse: collapse;
	border-color: #000;
}

td
{
	width: 25;
	height: 25;
	text-align: center;
	vertical-align: middle;
}
.color1
{
	background-color: #EE7789;
}
.color2
{
	background-color: #77A6EE;
}

iframe
{
	/*border: 1px solid #000;*/
	width: 100%;
	min-height: 350px;
}

/*------popupform------*/
#popupform
{
    /*display: none;*/
	float: left;
}
#popupform label
{
    display: block;
}
#popupform .input_text,  .error_input_text
{
	outline: none;
	display: block;
	width: 360px;
}
#popupform textarea.input_text, textarea.error_input_text
{
	height: 100px;
}

#popupform .error_input_text
{
	border: 1px solid Red;
}